extends /layouts/default


block content
  - var upper = "Angular Abalone Adept Aisle After Asiatic Ajar Avocado Azerbaijan Baja Blind Bodice Burqa Bjork Byrne Chasm Conway Carlisle Deft Draught Dunce Docile Dvorak Dyson Each Efterklang Entracte Eons Every Farsighted Fungible Freedom Fighter Focal Fjord Flak Gnomish Goanna Gladrag Gyro Handful Hunan Hoisery Interest Iodine Ibsen Illmatic Jackfruit Jimmy Juicer Jodhpurs Jr Kangaroo Kurt Kyoto Keira Knight Klaxon Lilly Lords Lyon Llama Mall Milliner Ms Module Mycenae Number Noodle Nyancat Oasis Onsen Oddball Organza Pneumatic Poncho Pyrrhic Quantum Qantas Qebhet Qing Radicchio Relish Rhine Roman Rumania Rx Ryman Sports Sodium Should Sine Sfumato Stadia Tabular Thief Tiler Tundra Tonnage Type Trust Twelve Undulate Ugly Usurp Udon Veni Vidi Vulcan Vocation Vye Vvvroom Whole Wyoming Without Werewolf Wombat Xmas Xenon Xtra Xray Yunnan Young Zloty Zodiac."

  each style in ["roman", "italic"]
    .container(class=`fs-${style}`)
      .row.pv5
        each weight in [300, 400, 600, 700]
          .col-sm-6.fs3(class=`fw${weight}`)
            p= upper.toUpperCase()

            p */* *\* When we entered I “Ask Jeff” or ‘Ask Jeff’. Take the chef d’œuvre! Two of [of] (of) ‘of’ “of” of? of! of*. Ydes, Yffignac and Ygrande are in France: so are Ypres, Les Woëvres, the Fôret de Wœvres, the Voire and Vauvise. Yves is in heaven; D’Amboise is in jail. Lyford’s in Texas &amp; L’Anse-aux-Griffons in Québec; the Łyna in Poland. Yriarte, Yciar and Ysaÿe are at Yale. Kyoto and Ryotsu are both in Japan, Kwikpak on the Yukon delta, Kvæven in Norway, Kyulu in Kenya, not in Rwanda.… Walton’s in West Virginia, but «Wren» is in Oregon. Tlálpan is near Xochimilco in México.

            p The Zygos &amp; Xylophagou are in Cyprus, Zwettl in Austria, Fænø in Denmark, the Vøringsfossen and Værøy in Norway. Tchula is in Mississippi, the Tittabawassee in Michigan. Twodot is here in Montana, Ywamun in Burma. Yggdrasil and Ymir, Yngvi and Vóden, Vídrið and Skeggjöld and Týr are all in the Eddas. Tørberget and Våg, of course, are in Norway, Ktipas and Tmolos in Greece, but Vázquez is in Argentina, Vreden in Germany, Von-Vincke-Straße in Münster, Vdovino in Russia, Ytterbium in the periodic table. Are Toussaint L’Ouverture, Wölfflin, Wolfe, Miłosz and Wū Wŭ all in the library? <span class="txt-osf">1510–1620, 11:00 pm</span>, and the <span class="txt-osf">1980s</span> are over.

            p= upper

            p Angel angel adept for the nuance loads of the arena cocoa and quaalude. Blind blind bodice for the submit oboe of the club snob and abbot. Clique clique coast for the pouch loco of the franc assoc and accede. Dunce dunce docile for the loudness mastodon of the loud statehood and huddle. Enact enact eosin for the quench coed of the pique canoe and bleep.

            p Furlong furlong focal for the genuflect profound of the motif aloof and offers. Gnome gnome gondola for the impugn purged logos of the unplug analog and smuggle. Human human hoist for the buddhist alcohol of the riyadh caliph and bathhouse. Inlet inlet iodine for the quince champion of the ennui scampi and shiite. Justin justin jocose for the djibouti sojourn of the oranj raj and hajjis.

            p Knoll knoll koala for the banknote lookout of the dybbuk outlook and trekked. Linden linden loads for the ulna monolog of the consul menthol and shallot. Milliner milliner modal for the alumna solomon of the album custom and summon. Number number nodule for the unmade economic of the shotgun bison and tunnel.

            p Onsen onset oddball for the abandon podium of the antiquo tempo and moonlit. Pneumo pneumatic poncho for the dauphin opossum of the holdup bishop and supplies. Quantum quanta qophs for the inquest sheqel of the cinq coq and suqqu. Rhone rhone roman for the burnt porous of the lemur clamor and carrot. Snout snout sodium for the ensnare bosom of the genus pathos and missing.

            p Tundra tundra tocsin for the nutmeg isotope of the peasant ingot and ottoman. Uncle uncle udder for the dunes cloud of the hindu thou and continuum. Vulcan vulcan vocal for the alluvial ovoid of the yugoslav chekhov and revved. Whale whale woman for the meanwhile blowout of the forepaw meadow and glowworm.

            p Xmas xmas xenon for the bauxite doxology of the tableaux equinox and exxon. Yunnan yunnan young for the dynamo coyote of the obloquy employ and sayyid. Zloty zloty zodiac for the gizmo ozone of the franz laissez and buzzing.

      hr.m0
      .row.pv5
        each weight in [300, 400, 600]
          .col-sm-4(class=`fw${weight}`)
            p r/science r/pcmasterrace r/CatastrophicFailure r/HumansAreMetal r/gaming r/therewasanattempt r/atheism r/JoeRogan r/ThatsInsane r/insaneparents r/pics r/teenagers r/iamatotalpieceofshit r/OldSchoolCool r/oddlysatisfying r/mildlyinteresting r/CozyPlaces r/shittyfoodporn r/HongKong r/ABoringDystopia r/madlads r/HumansBeingBros r/books r/clevercomebacks r/ChoosingBeggars r/ATBGE r/AmItheAsshole r/apexlegends r/ufc r/cringe r/YouShouldKnow r/soccer r/ANormalDayInRussia r/UpliftingNews r/starterpacks r/nextfuckinglevel r/Bad_Cop_No_Donut r/PoliticalCompassMemes r/PraiseTheCameraMan r/technology r/hockey r/nba r/HolUp r/TikTokCringe r/SelfAwarewolves r/leagueoflegends r/FragileWhiteRedditor r/PUBGMobile r/fakehistoryporn r/KidsAreFuckingStupid r/lotr r/BlackPeopleTwitter r/Tinder r/RealBeesFakeTopHats r/environment r/AdviceAnimals r/NoahGetTheBoat r/BikiniBottomTwitter r/Justrolledintotheshop r/Instagramreality r/menwritingwomen r/maybemaybemaybe r/SubredditDrama r/InternetIsBeautiful r/femalefashionadvice r/loseit r/perfectlycutscreams r/baseball r/wholesomememes r/Music r/tumblr r/MortalKombat r/awfuleverything r/TwoXChromosomes r/ksi r/dashcamgifs r/Denmark r/trebuchetmemes r/oddlyterrifying r/niceguys r/GetMotivated r/Amd r/Futurology r/iamverysmart r/Showerthoughts r/Whatcouldgowrong r/cringepics r/BeAmazed r/DunderMifflin r/softwaregore r/6ix9ine r/worldnews r/dadswhodidnotwantpets r/Gifted r/trashy r/Coronavirus r/MapPorn r/MWLoadouts r/farmingsimulator r/camaro r/Doom r/comics r/Political_Revolution r/TheRightCantMeme r/youngpeopleyoutube r/notliketheothergirls r/TrumpCriticizesTrump r/harrypotter r/PrequelMemes r/suicidebywords r/Economics r/Grimes r/fuckthesepeople r/agedlikewine r/raimimemes r/Competitiveoverwatch r/cursedcomments r/newzealand r/ihavesex r/iamanutterpieceofshit r/WhatsWrongWithYourDog r/ChildrenFallingOver r/FallenOrder r/UnethicalLifeProTips r/rareinsults r/rarepuppers r/evilbuildings r/Seattle r/OopsDidntMeanTo r/Documentaries r/socialism r/wow r/AbsoluteUnits r/ScrapMechanic r/DidntKnowIWantedThat r/pokemon r/ToiletPaperUSA r/TalesFromYourServer r/memes r/freemasonry r/EntitledBitch r/australia r/canucks r/entitledparents r/teslamotors r/Breadit r/YangForPresidentHQ r/StartledCats r/anime_irl r/ShitMomGroupsSay r/ChildrenFallingOver r/BabyBumps r/AskParents r/babywearing r/AttachmentParenting r/Bitcoin r/CryptoCurrency r/CryptoMarkets r/ethtrader r/BitcoinMarkets
