extends /layouts/default

block content
  each style in ["roman", "italic"]
    .container(class=`fs-${style}`)
      .row.pv5
        each weight in [300, 400, 600, 700]
          .col-sm-6.fs3(class=`fw${weight}`)
            each item in samples.kerning.bringhurst
              p!= item
            each item in samples.kerning.upper
              p= item
            each item in samples.kerning.lower
              p= item

      hr.m0
      .row.pv5
        each weight in [300, 400, 600]
          .col-sm-4(class=`fw${weight}`)
            each item in samples.kerning.subreddits
              p= item