---
title: "Kerning"
---

extends /layouts/default

include /mixins/style-bar

block append head
  link(rel="stylesheet" href="/assets/css/condensed.css")
  link(rel="stylesheet" href="/assets/css/mono.css")
  link(rel="stylesheet" href="/assets/css/archive.css")
  link(rel="stylesheet" href="/assets/css/archive-condensed.css")
  link(rel="stylesheet" href="/assets/css/archive-mono.css")

block content
  .container.pv5(
    data-component="style"
  )
    .pv3
      +style-bar({
        case: true,
        size: true,
        style: true,
        family: true,
        weights: true,
      })

    .row
      each style, i in ["", "ff-ss01", "ff-ss02", "ff-ss03"]
        .col-sm-6.pv3(class=style)
          p
            = ["Vanilla", "Chocolate", "Strawberry", "Fudge"][i] + ". "
            s.tds
              | Striking bouncy squad prize with pelvic flexion jump.
            = " "
            span.tdu
              | Underlined quick brown fox jumps over the lazy dog.
          each item, j in samples.kerning.bringhurst
              p!= item
          each item in samples.kerning.lower
            p= item

    .pv3
      each item in samples.kerning.subreddits
        p= item