section#intro.flx.flx-col.bg-beluga(
  data-component="style, mirror"
)
  .container.pt5.pb4.ta-c
    .fs10.lh120.pb4
      for weight in font.weights
        samp.dib(class=`fw${weight.value}` data-width=samples.alpha)
          input(placeholder=samples.alpha title="Edit me!")

    a.bg-orangered.clr-beluga.pv2.ph3.mt3.mla.mra.txt-bare.ttu.fw600.fs2.dib(
      download
      href=encodeURI(`/Reddit Sans ${font.version}.zip`)
    )
      | Download v#{font.version}
