doctype html

html(lang="en-us" class=`page-${page.fileSlug || "home"}`)
  head
    block head
      title= title || site && site.metaTitle
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width,initial-scale=1")
      meta(name="description" content=site.metaDescription)
      meta(name="author" content=site.author)
      meta(name="theme-color" content="#1B2426")
      meta(name="font-version" content=font.version)
      meta(name="format-detection" content="telephone=no")

      link(rel="shortcut icon" href="/favicon.ico")
      link(rel="apple-touch-icon" href="/apple-touch-icon.png")

      link(rel="canonical" href=site.url + page.filePathStem)
      link(rel="manifest" href="/manifest.json")

      link(rel="stylesheet" href="/assets/css/app.css")
      link(rel="stylesheet" href="/assets/css/fonts.css")
      link(rel="stylesheet" href="/assets/css/archive.css")

  body
    include ../partials/header

    #wrapper
      main#main
        block content

      include ../partials/footer

  script(src="/assets/js/app.js")
