section#samples.flx.flx-col.flx-jc.bg-beluga
  .container.ta-c.pt5.pb4
    .row
      .col-md-6
          .fs9.fw300
            samp.bg-beluga.clr-orca.ttu.m0(data-width="Hyperreactor")
              input(
                placeholder="Hyperreactor"
                title="Edit me!"
                spellcheck="false"
              )
          .fs1.fw400.clr-orangered Light
          .fs9.fw400
            samp.bg-beluga.clr-orca.ttu.m0(data-width="alphabetizers")
              input(
                placeholder="alphabetizers"
                title="Edit me!"
                spellcheck="false"
              )
          .fs1.fw400.clr-orangered Regular
          .fs9.fw600
            samp.bg-beluga.clr-orca.ttu.m0(data-width="Quintuplicate")
              input(
                placeholder="Quintuplicate"
                title="Edit me!"
                spellcheck="false"
              )
          .fs1.fw400.clr-orangered SemiBold
          .fs9.fw700
            samp.bg-beluga.clr-orca.ttu.m0(data-width="Metagalaxies")
              input(
                placeholder="Metagalaxies"
                title="Edit me!"
                spellcheck="false"
              )
          .fs1.fw400.clr-orangered Bold
          .fs9.fw800
            samp.bg-beluga.clr-orca.ttu.m0(data-width="Kaleidoscope")
              input(
                placeholder="Kaleidoscope"
                title="Edit me!"
                spellcheck="false"
              )
          .fs1.fw400.clr-orangered ExtraBold

      .col-md-6
          .fs9.fw300
            samp.bg-beluga.clr-orca.m0(data-width="counterclockwise")
              input(
                placeholder="counterclockwise"
                title="Edit me!"
                spellcheck="false"
              )
          .fs1.fw400.clr-orangered 300
          .fs9.fw400
            samp.bg-beluga.clr-orca.m0(data-width="reconceptualizes")
              input(
                placeholder="reconceptualizes"
                title="Edit me!"
                spellcheck="false"
              )
          .fs1.fw400.clr-orangered 400
          .fs9.fw600
            samp.bg-beluga.clr-orca.m0(data-width="turbogenerated")
              input(
                placeholder="turbogenerated"
                title="Edit me!"
                spellcheck="false"
              )
          .fs1.fw400.clr-orangered 600
          .fs9.fw700
            samp.bg-beluga.clr-orca.m0(data-width="sculpturesquely")
              input(
                placeholder="sculpturesquely"
                title="Edit me!"
                spellcheck="false"
              )
          .fs1.fw400.clr-orangered 700
          .fs9.fw800
            samp.bg-beluga.clr-orca.m0(data-width="eclaircissement")
              input(
                placeholder="eclaircissement"
                title="Edit me!"
                spellcheck="false"
              )
          .fs1.fw400.clr-orangered 800
