mixin picture(path, name, types, alt)
  picture
    each ext in types
      source(srcset=`${path}/${name}.${ext}` type=`image/${ext}`)

    img(
      src=`${path}/${name}.${types[types.length - 1]}`
      loading="lazy"
      alt=(alt || null)
      role=(alt === "" ? "presentation" : null)
    )
