header#header.ttu.fs2.flx(data-component="header")
  .container.mb0
    #header-content.brb.flx.flx-row.pv2
      a#header-title.mra.txt-bare(
        href="/"
        data-id=page.id
      )
        span.fw700 ■■■■ Sans
        |  Font Specimen

      nav.ta-r
        span#header-version v#{font.version}
        br
        ul#header-nav.flx.flx-row.flx-jb.list-bare.p0.m0
          each item, i in navigation
            li(class=(i > 0 && "pl3"))
              a.txt-bare(
                href=item.url
                class=(item.id === page.fileSlug && "active")
                aria-current=(item.id === page.fileSlug ? "page" : null)
                rel="prefetch"
              ) #{item.title}

