---
title: "Kerning"
---

extends /layouts/default

block append head
  link(rel="stylesheet" href="/assets/css/condensed.css")
  link(rel="stylesheet" href="/assets/css/archive.css")
  link(rel="stylesheet" href="/assets/css/archive-condensed.css")

block content
  .container.pv5(
    data-component="style"
  )
    .pv3
      .flx.flx-row.flx-col-sm.fs3.tt0.fs-roman.ff-normal.mhn1
        .flx.flx-wrap.flx-c.ma-sm.mra
          ul.list-bare.ph2.flx.flx-row.fw400.mb0.pb3.pr4
            li.txt-muted Case
            li.pl2.active
              button.btn-bare.p0(data-text-transform="none") Lower
            li.pl2
              button.btn-bare.p0.ttu(data-text-transform="uppercase") Upper

          ul.list-bare.ph2.flx.flx-row.fw400.mb0.pb3.pr4
            li.txt-muted Size
            for size, i in [16, 20, 24, 32, 64]
              li.pl2(class=(i === 0 && "active"))
                button.btn-bare.p0(
                  data-line-height=size < 24 ? "" : 1 + (8 / size)
                  data-font-size=`${size}px`
                )= size

        .flx.flx-wrap.flx-c.ma-sm
          ul.list-bare.ph2.flx.flx-row.fw400.mb0.pb3
            li.pl2.active
              button.btn-bare.p0(data-font-style="normal") Roman
            li.pl2
              button.btn-bare.p0.fs-italic(data-font-style="italic") Italic

          ul.list-bare.ph2.flx.flx-row.fw400.mb0.pb3
            li.pl2.active
              button.btn-bare.p0(
                data-font-family="var(--font-family)"
              ) Normal
            li.pl2
              button.btn-bare.p0.ff-condensed(
                data-font-family="var(--font-family-condensed)"
                data-font-style="normal"
              ) Condensed

        .flx.flx-wrap.flx-c.ma-sm
          ul.list-bare.ph2.flx.flx-row.flx-wrap.flx-jc.mb0
            for weight in font.weights
              li.pl2.pb3(class=[
                `fw${weight.value}`,
                weight.value === 400 ? "active" : ""
              ])
                button.btn-bare.p0(data-font-weight=weight.value)= weight.label

    .row
      each style in ["", "ff-ss01", "ff-ss02", "ff-ss03"]
        .col-sm-6.pv3(class=style)
          each item in samples.kerning.bringhurst
            p!= item
          each item in samples.kerning.lower
            p= item

    .pv3
      each item in samples.kerning.subreddits
        p= item