doctype html

include ../../_includes/mixins/mixins

html(lang="en-us" class=`page-${page.fileSlug || "home"}`)
  head
    block head
      title=site.metaTitle
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width,initial-scale=1")
      meta(name="description" content=site.metaDescription)
      meta(name="author" content=site.author)
      meta(name="theme-color" content="#317EFB")

      link(rel="shortcut icon" href="/favicon.png")
      link(rel="apple-touch-icon" href="/apple-touch-icon.png")

      link(rel="canonical" href=site.url + page.fileSlug)
      link(rel="manifest" href="/manifest.json")
      link(rel="shortcut icon", href="/favicon.ico")
      link(rel="stylesheet" href=assets["main.css"])

  body
    include ../partials/header

    #wrapper
      include ../partials/main
        block content

      include ../partials/footer

  script(src=assets["main.js"])
