---
permalink: assets/css/fonts.css
dynamicPermalink: false
---

| @charset "UTF-8";

for style in font.styles
  for weight in font.weights
    - var path = `/fonts/web/full`;
    - var name = "RedditSans";
    - var file = `${path}/${name}-${weight.label}${style.label}`;

    if weight.value === 400 && style.value === "italic"
      - var file = `${path}/${name}-${style.label}`;

    - var query = "?v" + Math.random()

    = "\n\n"

    | @font-face {
    |   font-family: "#{font.cssName}";
    |   font-style: #{style.value};
    |   font-weight: #{weight.value};
    |   src: url("#{file}.woff2#{query}") format("woff2"),
    |        url("#{file}.woff#{query}") format("woff");
    | }